{
    "parserOptions": {
        "ecmaVersion": 2022
    },
    "extends": "eslint:recommended",
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "quotes": ["error", "double"],
        "semi": ["error", "always"],
        "indent": ["error", 4],
        "prefer-const": "error",
        "no-var": "error"
    }
}
